@media(max-width:768px) {

    .navbar {
        position: absolute;
        top: 70px;
        right: 8%;
        background: #0f0f10;
        flex-direction: column;
        width: 220px;
        padding: 20px;
        display: none;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 15px;
    }

    .navbar.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .nav-link {
        padding: 10px 0;
    }
}

/* end of header */

@media(max-width:900px) {

    .hero {
        flex-direction: column;
        text-align: center;
        padding-top: 140px;
    }

    .hero-left h1 {
        font-size: 3rem;
    }

    .hero-left p {
        margin: 0 auto 30px;
    }

    .hero-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-badges {
        justify-content: center;
    }

    .image-frame img {
        width: 260px;
    }
}





@media(max-width:900px) {

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        width: 260px;
    }

    .about-text p {
        margin: 0 auto 15px;
    }
}




@media(max-width:600px) {

    .skills-header h2 {
        font-size: 2rem;
    }

}




@media(max-width:900px) {

    .portfolio-grid {
        grid-template-columns: 1fr 1fr;
    }

}

@media(max-width:600px) {

    .portfolio-grid {
        grid-template-columns: 1fr;
    }

    .portfolio-filters {
        gap: 10px;
    }

}








@media(max-width:900px) {

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-brand p {
        margin: 0 auto;
    }

    .social-icons {
        justify-content: center;
    }

}